canvas[data-v-4ce811e9]{width:100%;height:100%}.n-carousel[data-v-6b6b3a3d]{height:200px}.n-carousel img[data-v-6b6b3a3d]{width:100%;height:200px;object-fit:cover}.n-input-number[data-v-6b6b3a3d] input{text-align:center}
