canvas[data-v-4ce811e9]{width:100%;height:100%}.n-carousel[data-v-1fcad7cb]{height:200px}.n-carousel img[data-v-1fcad7cb]{width:100%;height:200px;object-fit:cover}.n-input-number[data-v-1fcad7cb] input{text-align:center}
